on: push
name: Docker build
permissions:
  contents: read
jobs:
  build:
    name: Docker build
    if: '!github.event.deleted'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Docker build
      run: docker build .
